// Variables
$generic-box-shadow: 0 3px 7px 1px rgba(#000, 0.35);
$box-shadow2: 0 0.15em 0.25em rgba(black, 0.25);
$generic-border: 1px solid #f1f1f1;
$generic-bg: #db4c3f;
$generic-border-radius: 0.25rem;

// Old ones
$input-color: #7dbbc3;
$button-color: #f4b9b2;
$info-color: #daedbd;
$comment-highlight-color: #de6b48;
$danger-color: #de6b48;
$white: #fff;
$brand-green: #076448;
$dark-green: #099268;
$medium-green: #20c997;
$text-color: #212529;
$gray: #868e96;
$light-gray: #f1f3f5;
$extra-light-gray: #f8f9fa;
$white: #fff;
$dark-blue: #090773;
$mid-blue: #0935f3;
$light-blue: #0960f2;
$extra-light-blue: #0d89ef;

// width
$default-width: 94vw;
$mobile-width: 90vw;
$nav-mobile-width: 93vw;
$desktop-width: 25vw;

// font stack
$font-stack: "Titillium Web", "Rajdhani", sans-serif;

$transition: 280ms all 120ms ease-out;
